.container {
  position: relative;
  
}

.container input[type="radio"] {
  position: absolute;
}

input[type="radio"] + span {
  position:absolute;
  width:200px;
  color:transparent;
}
input[value="Completely"] {
  top:41px;
  left:195px;
}

input[value="Completely"] +span{
  top:41px;
  left:202px;
  cursor: pointer;
  padding-bottom: 10px;
}

input[value="Mostly"] {
  top:99px;
  left:195px;
}

input[value="Mostly"] + span{
  top:99px;
  left:202px;
  cursor: pointer;
  padding-bottom: 10px;
}

input[value="Somewhat"] {
  top:227px;
  left:195px;
}

input[value="Somewhat"] + span{
  top:227px;
  left:202px;
  cursor: pointer;
  padding-bottom: 10px;
}

input[value="Not very"] {
  top:356px;
  left:195px;
}

input[value="Not very"] + span {
  top:356px;
  left:202px;
  cursor: pointer;
  padding-bottom: 10px;
}


input[value="Doesn't apply to me"] {
  top:441px;
  left:195px;
}


input[value="Doesn't apply to me"] + span{
  top:441px;
  left:202px;
  cursor: pointer;
  padding-bottom: 10px;
  padding-right:5px;
}


.response {
  height: auto;
  width: 100%;
  /*border-radius: 5%;*/
  border: 0px;
  background: white;
  vertical-align: middle;
  padding: 3px;
  /*text-align: center;*/
}

#funding{
  background-color: #f2f5f7;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius:5px;
  padding: 2%;
  margin-bottom:0;
  font-size: 0.75em;
  margin-top: 32px;
}

#numitems{
  margin-top:12px;
}

.navbar:not(.fixed-bottom):not(.navbar-fixed-bottom):not(.navbar-fixed-bottom) {
    margin-bottom: 0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: transparent;
    background-color: transparent;
}

.navbar{
  padding:0.25rem 0rem;
}

.nav-hidden{
  height:0px;
}

.nav-link{
  padding:0.1rem;
}

#info-drop{
  background-color:transparent;
  border:0px;
}

.ttip {
  text-decoration: none;
}

.ttip:hover {
  position: relative;
}

.ttip span {
  display: none;
  font-size:1rem;
}

.ttip:hover span, .ttip:active span {
  border: #000000 20px;
  padding: 20px;
  display: block;
  z-index: 10000;
  background: #FFF;
  right: 10px;
  margin: 15px;
  width: 400px;
  position: absolute;
  top: 15px;
  text-decoration: none;
  text-align: left;
}

#folder:hover {
  background-color:#CCdee2e6;
}